<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641508843699-9dt71nc3jt43hon1sggbnnil7u3ctrae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641508843699-9dt71nc3jt43hon1sggbnnil7u3ctrae</string>
	<key>API_KEY</key>
	<string>AIzaSyAUdoXfTiX-oAoKKEyjpsKynMRYA5vKZdQ</string>
	<key>GCM_SENDER_ID</key>
	<string>641508843699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.therapistSide</string>
	<key>PROJECT_ID</key>
	<string>therapstsideapp</string>
	<key>STORAGE_BUCKET</key>
	<string>therapstsideapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641508843699:ios:bacfd48fb1db29c24790c6</string>
</dict>
</plist>